.Prueba{
  padding: 14px;
  display: flex;
  justify-content: center;
}



.containerprueba{
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 14px;
    padding-left: 14px;
    position: relative;
}

.prueba h1{
    font-family: poppins;
    font-size: 16px;
    color: rgba(235, 140, 84, 1);
}

.prueba .col-4 {
    padding: none;
}

.prueba .card img {
    max-width: 328px;
}

.prueba .card-body{
    padding: 2px;
}

.prueba .card {
    max-width: 332px;
}

[class*="col-"]{
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 12px;
    text-align: justify;
      transition: transform 0.3s ease; 
}

.col-2:hover, .col-3:hover, .col-4:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: none;
}



.containergaleria h1 {
    font-size: 14px;
    color: black;
    text-align: justify;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: poppins;
    letter-spacing: 0.1px; 
}



.division {
    border-bottom: 1px solid skyblue; 
    width: 100%;
}

.galeriarecientes a{
  color: black;
  font: poppins;
  text-decoration: none;
}


.galeriarecientes a:hover{
  color: rgba(235,140,84,1);
  text-decoration: underline;
}

